* {
  box-sizing: border-box;
  text-align: center;
}

@font-face {
    font-family: 'Panther_Black';
    src:url('Panther_Black.ttf.woff') format('woff'),
        url('Panther_Black.ttf.svg#Panther_Black') format('svg'),
        url('Panther_Black.ttf.eot'),
        url('Panther_Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.App {
  width: 100%;
  height: 100%;
}

.bottom-app {
  display: flex;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 22pt;
  background: rgb(20, 20, 53);
  color: rgb(170, 165, 165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline-style: outset;
  outline-color: black;
  outline-width: 4px;
}
textarea:focus {
  outline-style: outset;
  outline-color: black;
  outline-width: 4px;
}

button {
  width: 80%;
  margin: auto;
  padding: 0.2em;
  font-size: 22px;
  color: #0c0e6a;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(6, 220, 250, 0.4);
  box-shadow: 0 0 10px #85DCFE;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #52cdfe;
  font-size: 5.5vh;
}

/* TopNav styles */
.top-nav {
  position: sticky;
  background: rgb(7,8,60);
  background: -moz-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07083c",endColorstr="#141435",GradientType=1);
  width: 100%;
  z-index: 20;
  top: 0;
}

.top-nav-wrap {
  display: flex;
  justify-content: space-between;
}

.top-left-nav {
  display: flex;
  align-items: center;
}

.top-left-nav p {
  color: #52cdfe;
  font-size: 35px;
  font-weight: bold;
  margin: 0 auto;
}

.top-left-nav img{
  width: 300px;
  margin: 0.5em 0 0.5em 2em;
}

.top-right-nav {
  margin-right: 4em;
  display: flex;
  align-items: center;
}

.top-right-nav a {
  margin: 0 1em 0 1em;
  color: #85DCFE;
  font-size: 18px;
  font-family: "Panther_Black";
  padding: .8em .6em;
  padding-top: 1em;
  border-radius: 5px;
}

.top-right-nav :last-child {
  border: 1px solid #85DCFE; 
  border-radius: 5px;
  color: #85DCFE;
}

.top-right-nav :last-child:hover {
  box-shadow: 0 0 5px #85DCFE;
  background-color: rgba(6, 220, 250, 0.4);
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Panther_Black"
}

.top-right-nav a:hover {
  color: #52cdfe;
  box-shadow: 0 0 5px #85DCFE;
}

/* SideNav styles */
.side-nav-container {
  width: 5%;
  background: rgb(20, 20, 53);
}

.side-nav-wrap {
  width: 100%;
  height: 100%;
}

.side-nav {
  position: sticky;
  top: 65%;
  display: flex;
  flex-direction: column;
}

.side-nav a {
  display: table;
  margin: 1.3em auto;
  width: 45px;
  height: 45px;
}
.side-nav a * {
  display:table-cell;
  text-align: center;
  vertical-align: top;
  width: 90%;
  height: 90%;
  color: #52cdfe;
}

.side-nav a *:hover {
  width: 100%;
  height: 100%;
}

/* landing page styles */
#landing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.land-intro {
  width: 60%;
  margin-top: -1.5em;
  color: rgb(170, 165, 165)
}
.land-intro * {
  text-align: left;
  font-size: 2.2vh;
}
.land-h1-1 {
  font-variant: small-caps;
  font-size: 2.5vh;
}
.land-h1-2 {
  font-size: 5.5vh;
  margin: .8em 0;
  color: rgb(170, 165, 165)
}

.land-h1-2 span {
  font-size: 5.5vh;
}
.teal {
  color: #85DCFE;
}

.land-intro p {
  width: 65%;
} 

.landing-wrapper {
  display: inline-block;
  min-width: 7.2em;
}

.rolling-header {
  display: flex;
  justify-content: center;

}

@media screen and (max-width: 800px) {
  .land-intro p {
    width: 90%;
    text-align: center;
  }

  .land-intro {
  width: 80%;
  }
}

/* About page styles */
#about {
  margin-bottom: 15vh;
}
#about > div {
  display: flex;
  width: 70%;
  margin: 0 auto 0 auto;
}

.profile-container {
  margin: auto .5em;
  border-radius: 3%;
  width: 30%;
  height: 100%;
  position: relative;
}


.avatar-div {
  background-image: url(https://i.imgur.com/QGdnNtV.jpg);
  border: 4px solid #85DCFE;
  border-radius: 3%;
  position: sticky;
  z-index: 10;
  margin-top: -.5vh;
  margin-left: -.5vw;
  top:0;
  left:0;
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.avatar-overlay {
  background-color: rgba(6, 220, 250, 0.6);
  border: 4px solid #85DCFE;
  border-radius: 3%;
  position: absolute;
  z-index: 10;
  margin-top: -.5vh;
  margin-left: -.5vw;
  top:0;
  left:0;
  width: 100%;
  padding-top: 100%;
}
.profile-container:hover .avatar-overlay {
  box-shadow: 0 0 10px #85DCFE;
  background-color: transparent;
}

.profile-info {
  width: 70%;
  margin: auto 1em;
  margin-right: 2em;
  align-self: left;
  font-size: 2.3vh;
}


.profile-info p {
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 800px) {
  #about > div{
    width: 90%;
    font-size: 2vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-info {
    width: 90%;
    margin-right: 0;
  }

  .profile-container {
  margin: 1em;
  }
}

/* Experience page styles */
#experience {
  margin-bottom: 10vh;
}

.experience-container {
  display: flex;
  width: 70%;
  margin: 5vh auto;
  padding: 4vh;
  border: 3px solid #85DCFE;
  border-radius: 10px;
} 
.experience-container h1 {
  font-size: 3.5vh;
  margin-bottom: 0.5em;
  text-align: left;

}

.experience-container > nav {
  margin-right: 3vw;
  width: 35%
}

.experience-container p,li {
  font-size: 2vh;
  margin: 0.3vh;
  text-align: left;
  color: white;
  width: auto;
  padding: .3em 0 .3em 0.5em;
}

.experience-container nav p:hover {
  color: #52cdfe;
  border-radius: 5px;
  background-color: rgba(143, 221, 252, 0.1);
}

.exp-cards-container {
  width: 65%;
  border-radius: 10px;
  padding: 2vh 3vh;
  background-color: rgba(143, 221, 252, 0.1);
}

.experience-card-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.experience-card-wrapper ul li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 1.55em;
  align-items: start;
  font-size: 2vh;
  line-height: 1.25;
  color: rgb(170, 165, 165);
}

.experience-card-wrapper ul li:before {
  content: url(https://i.ibb.co/HY6Mh8m/Screen-Shot-2021-12-09-at-10-33-34-AM-copy-3.png);
  font-size: 1em;
}

.experience-card-wrapper h1 {
  margin-bottom: 1vh;
}

@media screen and (max-width: 800px) {
  #experience > h1 {
    width: 80%;
    font-size: 4vh;
    margin: 0 auto;
  }

  .experience-container {
    width: 90%;
    padding: 1.5vh;
  }

  .experience-container h1 {
    font-size: 2.2vh;
  }
  
  .experience-container p,li {
    font-size: 1.7vh;
    margin: .1vh;
  }

  .exp-cards-container {
    padding: 1vh 1.5vh;
  }

  .experience-card-wrapper ul li {
    gap: 1.1em;
    align-items: start;
    font-size: 1.5vh;
    line-height: .75;
    color: rgb(170, 165, 165);
  }
  
  .experience-card-wrapper ul li:before {
    content: url(https://i.imgur.com/wrZRb2V.png?1);
    font-size: .5em;
  }
}

@media screen and (max-width: 400px) {
  #experience > h1 {
    width: 90%;
    font-size: 3vh;
    margin: 0 auto;
  }

  .experience-container {
    width: 90%;
    padding: 1vh;
  }

  .experience-container h1 {
    font-size: 2vh;
  }
  
  .experience-container p,li {
    font-size: 1.5vh;
    margin: .1vh;
  }

  .exp-cards-container {
    padding: .8vh 1.3vh;
  }

  .experience-card-wrapper ul li {
  gap: 1.1em;
  align-items: start;
  font-size: 1.3vh;
  line-height: .75;
  color: rgb(170, 165, 165);
  }
}

/* Skills page styles */
#skills {
  width: 75%;
}

.skills-container {
  margin: 5vh auto;
  width: 90%;
  display: grid;  
  grid-gap: 1.5em;  
  grid-template-columns: repeat(auto-fit, minmax(14px, 8%));
  grid-template-rows: auto;
  font-size: 1.5vh;
}

@media screen and (max-width: 600px) {
  .skills-container {
    font-size: 1.2vh;
  }
}

.skills-container>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container>div>div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.skill-img {
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%
}

/* Projects page styles */
#projects {
  margin: 2em 0;
  /* height: 100%; */
  height: 100%;
}

#projects > div {
  margin: 1em auto;
  width: 90%;
  height: 100%;
  display: grid;  
  grid-gap: 1em;  
  grid-template-columns: repeat(2, minmax(300px, 600px));
  grid-template-rows: repeat(auto-fit, minmax(168.75px, 337.5px));

}

.project-card {
  display: flex;
  background-color: rgb(207, 196, 130, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: 2em auto;
  padding:0.5em;
}

.project-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.project-wrapper img {
  position: sticky;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  inset: 0;
  top: 0;
  left: 0;
}

.project-wrapper > a {
  /* position: relative; */
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-details h1 {
  color: #52cdfe;
}

.project-details:hover {
  opacity: 1;
}

.technologies {
  font-size: 24pt;
  color: white;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: #D7B554 2px solid;
}

.description {
  font-weight: bold;
  color:rgb(207, 196, 130);
  text-align: left;
  margin: 0.5em;
}


/* Contact page styles */
.form-container {
  height: 70vh;
  width: 50%;
  margin: 25vh auto 10vh auto;
}

.form-container form {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1em 2em;
  background-color:rgba(255, 255, 255, 0.31);;
  width: 100%;
  height: 100%;
}

.form-container form h2{
  margin: 0;
  font-size: 35px;
}

.form-container form div{
  margin: 0.5em auto;
  width: 80%;
  text-align: left;
}

.form-container form label{
  font-size: 20px;
}

.form-container form input{
  text-align: left;
  height: 2em;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid white;
}

.form-container form textarea{
  text-align: left;
  height: 12em;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  resize: none;
}
.form-container form input,textarea{

  width: 100%;
  font-size: 18px;
}

.landing-overlay {
  width: 100%;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  z-index:30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(7,8,60);
  background: rgb(20,20,53);
  background: -moz-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141435",endColorstr="#07083c",GradientType=1);
}


