html {
  background: rgb(20, 20, 53) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Hide scrollbar */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  ::-webkit-scrollbar { /* Chrome, Safari and Opera */
      display: none;
    }
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 650px) {
  .App .page {
    width: clamp(350px, 90%, 1500px);
  }
}

@media screen and (max-width: 400px) {
  .App .page {
    width: clamp(350px, 95%, 1500px);
  }
}

a { text-decoration: none; }
.teal { color: #52cdfe; }
.top-right-nav > a { font-size: clamp(1rem, 1.5vw, 1.5rem) !important }


/* // ---------
// MAIN PAGE BASE FONT STYLES
// ---------  */

#main {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(170, 165, 165);
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh !important;
  
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 80%, 1500px);
    height: 100%;
  }

  * {
    font-size: clamp(.9rem, 1.1vw, 1.2rem) !important;
    
    h1 { 
      font-size: clamp(1.1rem, 1.3vw, 1.4rem) !important; 
      font-family: 'Roboto Slab', serif;
      color: #52cdfe;
    }
  
    h2 { 
      font-size: clamp(1rem, 1.2vw, 1.5rem) !important; 
      font-family: 'Roboto Slab', serif;
      color: #52cdfe;
    }
    
    .landing-title { font-size: clamp(1.5rem, 2vw, 2rem) !important; }
    .landing-subtitle { font-size: clamp(1.1rem, 1.5vw, 1.3rem) !important; }
    .landing-blurb { font-size: clamp(1.6rem, 2.5vw, 12.2rem) !important; }
  }
  
  > div {
  
    > h1 {
      width: 100%;
      margin: 0 auto;
    }
  }
}

/* 
// ---------
// TOPNAV
// ---------  */

.top-nav {
  width: 100%;
  background: -moz-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07083c",endColorstr="#141435",GradientType=1);
}

.top-nav-wrap {
  display: flex;
  justify-content: space-between;
  width: clamp(350px, 80%, 1500px);
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-bottom: 1.5vh;
  
  .top-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15vw;
      margin: .6vh 0;
      margin-right: 2vw;
    }
  }
  
  .no-display-left {
    display: none;
  }
  
  .top-right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
    * {
      margin: 0 .3vw;
      color: rgb(170, 165, 165);
      padding: .8vmin 1vmin;
      border-radius: 4px;
    }

    .active {
      border-radius: 0;
      border-bottom: 3px solid rgba(6, 220, 250, .5);
      color:  rgba(6, 220, 250, .7);
    }
    
    a:hover {
      color: rgba(6, 220, 250, .7);
    }
  }
  
  @media screen and (max-width: 650px) {
    .top-left-nav { 
      display: none; 
    }
    
    .top-right-nav .no-display {
      display: none;
    }
  }
  
  @media screen and (max-width: 450px) {
    .top-right-nav * {
      margin: 0 .2rem;
      padding: .7vmax .9vmax;
    }
  }
  

  .top-right-nav .resume-link{ 
    border: 1.5px solid rgba(6, 220, 250, 0.5);
    color: rgba(6, 220, 250, 0.7);
    margin-left: .5rem;
  }
  
  .top-right-nav .resume-link:hover { 
    background-color: rgba(6, 220, 250, 0.1) !important;
    color: rgba(6, 220, 250);
  }
}


/* // ---------
// LEFT SIDENAV
// ---------  */

.side-nav {
  position: absolute;
  bottom: 6vh;
  left: 1.5vw;
  display: flex;
  flex-direction: column;
  width: 5%;

  a, .a-tag {
    display: table;
    margin: 2vh auto;
    width: clamp(1.5rem, 4vw, 2.5rem);
    height: clamp(1.5rem, 4vw, 2.5rem);
  }

  a *,
  .a-tag * {
      text-align: center;
      vertical-align: middle;
      width: 90%;
      height: 90%;
      color: rgb(170, 165, 165);
    }

  a:hover *,
  .a-tag:hover * {
    height: 100%;
    width: 100%;
    color: rgba(143, 221, 252, .9);
  }
}

@media screen and (min-width: 651px) {
  .top-left-side-nav {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .top-nav {
    padding-top: .5rem;
  }

  .side-nav {
    display: none;
  }

  .top-nav .top-nav-wrap .top-left-side-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    a,
    .a-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      margin-left: .5rem;
    }
    
    a *,
    .a-tag * {
      width: auto;
      color: rgb(170, 165, 165);
    }

    a:hover *{
      color: rgba(143, 221, 252, .9);
    }
  }
}

/* 
// ---------
// PROFILE MENU
// ---------  */

.login-icon {
  display: none !important;
  height: 2.8rem !important;
  width: 2.8rem !important;
  
  svg, path {
    height: 2.8rem !important;
    width: 2.8rem !important;
    fill: rgb(170, 165, 165);
  }
}


#profile-menu>.MuiPopover-paper,
#profile-menu .MuiMenu-list {
  background-color: rgb(175, 175, 175);
  border-radius: 4px;
}

#profile-menu .MuiMenu-list>li>a {
  color: rgb(7, 8, 60);
}

#profile-menu .MuiMenu-list>li:hover {
  background-color: rgba(6, 220, 250, 0.3);
}

@media screen and (max-width: 650px) {
  .top-nav-wrap .login-icon {
    display: initial !important;
  }
  
  .top-nav-wrap .login-icon:hover {
    border-color: rgba(170, 165, 165, .6);
  }
}


/* // ---------
// LANDING PAGE
// ---------  */

.about-wrapper {
  margin-bottom: 1.5rem;
  width: 70%;
  color: rgb(170, 165, 165);

  p {
    width: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
  }
  .left { 
    text-align: start; 
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: end;
  }
  .landing-title {
    font-weight: 500;
  }

  .landing-subtitle {
    margin-bottom: 2rem
  }
}


@media screen and (max-width: 600px) {
  .about-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* // ---------
// PROJECTS PAGE
// ---------  */
#projects {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  > h2 {
    color: #52cdfe;
    text-align: left;
    width: 90%;
    margin-bottom: .5em;
  }
  
  > p {
    margin-left: auto;
    margin-right: auto;
  }
}

/* // PROJECT CARD AND CONTAINER */
.project-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px 50px;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 3rem;
  padding-top: 5rem;
  
  .project-card {
    display: flex;
    width: 90%;
    min-width: 270px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(143, 221, 252, .1);
    transition: all .2s ease-in-out;
    
    .project-img-wrapper {
      width: 250px;
      height: 175px;
      border: 3px solid rgba(170, 165, 165, .3);
      border-radius: 5px;
  
      img {
        height: 100%;
        width: 100%;
        border-radius: 2px;
      }
    }
  
    .project-details {
      position: relative;
      width: 100%;
      height: auto;
      padding: 5px 10px;
      margin-left: 5px;
  
      #project-card-title {
        font-size: clamp(1.1rem, 1.4vw, 1.3rem) !important;
        font-weight: 600;
        text-align: left;
        color: white;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      
      .tech-container {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        
        .tech-item {
          width: 18px !important;
          height: 18px !important;
          margin-right: 10px;
        }
      }
      
      .project-card-buttons {
        width: fit-content;
        margin: auto 0 0 auto;
        
        a {
          padding: 4px 8px;
          margin-left: 10px;
          font-weight: 500;
          color: rgba(6, 220, 250, 0.7);
          border: 1.5px solid rgba(6, 220, 250, 0.5);
          border-radius: 5px;
        }
        
        a:hover {
          background-color: rgba(6, 220, 250, 0.1);
          color: rgba(6, 220, 250);
        }
      }

      #project-card-description {
        display: -webkit-box;
        text-align: left;
        overflow: hidden;
        width: 100%;
        font-size: .9rem !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 1.5rem;
        
        .inner {
          text-align: left;
          
          .project-card-buttons {
            display: none;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 850px) {
    .project-card {
      flex-direction: column;
      width: 270px;

      .project-details {
        margin-left: auto;
      }
    }
  }

  .project-card:hover {
    transform: scale(1.02);
  }
}

/* // ---------
// SKILLS PAGE
// ---------  */

#skills { 

  > div > h2 {
    color: rgba(143, 221, 252, 0.8);
    width: fit-content;
    text-align: left;
    margin-bottom: .5rem;
  }

  .skills-wrap {
    width: 80%;
    overflow-y: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
  
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center; 
      width: 100%;
      padding: .8rem;
      background-color: rgba(143, 221, 252, 0.1);
      border-radius: .3rem;
      margin-bottom: 1rem;

      .skill-box {
        width: clamp(2.5rem, 5vw, 3.5rem) !important;
        height: clamp(2.5rem, 5vw, 3.5rem) !important;
        margin: .8rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        svg, path {
          margin-bottom: .2rem;
          width: clamp(2.5rem, 4.5vw, 3.5rem) !important;
        }
      }
    }
  }
}


.scroll-lock { overflow: hidden; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% {  opacity: 1; }
  100% { opacity: 0; }
}