$duration: 0.5s;
$top: 0;

html {
  background: rgb(20, 20, 53) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar { display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  width: 100%;
  height: 100vh;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(350px, 80%, 1500px);
    margin: 0 auto;
  }
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  color: #52cdfe;
}
a { text-decoration: none; }
.teal { color: #52cdfe; }

#main {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(170, 165, 165);
  overflow-x: auto !important;
  overflow-y: auto !important;

  > div {
    height: 100%;
    > h1 {
      width: 100%;
      margin: 0 auto;
    }
  }
}

// ---------
// TOPNAV
// --------- 
.top-nav {
  width: 100%;
  z-index: 20;
  background: rgb(7,8,60);
  background: -moz-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07083c",endColorstr="#141435",GradientType=1);
}

.top-nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-bottom: 1.5vh;

  .top-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15vw;
      margin: .6vh 0;
      margin-right: 1vw;
    }
  }

  .top-right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    * {
      margin: 0 .3vw;
      color: rgb(170, 165, 165);;
      padding: .7vh .8vh;
      padding-bottom: .8vh;
      border-radius: 3px;
      font-size: 1.2vw;
    }
  }

  @media screen and (max-width: 650px) {
    .top-left-nav { display: none; }
  }

  @media screen and (max-width: 450px) {
    .top-right-nav * {
      margin: 0 .2rem;
      padding: .4vh 1vw;
    }
  }

  .active:target,
  .active:focus,
  .active:visited,
  .active:hover,
  .active:active {
    border-bottom: #52cdfe 2px solid !important; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #52cdfe !important;
  }
    .top-right-nav a:hover {
    color: #52cdfe !important;
  }
  .top-right-nav :last-child { border: 1px solid #52cdfe; }
  .top-right-nav :last-child :hover { font-size: bold; }
}

@media screen and (max-width: 650px) {
  .top-nav-wrap { justify-content: space-around;}
}
// ---------
// SIDENAV
// --------- 
.side-nav {
  position: absolute;
  bottom: 5vh;
  left: .5vw;
  display: flex;
  flex-direction: column;
  width: 6%;

  a, .a-tag {
    display: table;
    margin: 2vh auto;
    width: clamp(1.5rem, 2.3vw, 2.5rem);
    height: clamp(1.5rem, 2.3vw, 2.5rem);
  }

  a *,
  .a-tag * {
      text-align: center;
      vertical-align: middle;
      width: 90%;
      height: 90%;
      color: rgb(170, 165, 165);
    }

  a:hover *,
  .a-tag:hover * {
    height: 100%;
    width: 100%;
    color: #52cdfe;
  }
}

@media screen and (max-width: 650px) {
  .side-nav {
    bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

// ---------
// LANDING PAGE
// --------- 
.land-intro {
  width: 55%;
  margin: auto;
  color: rgb(170, 165, 165)
}
.land-intro * { text-align: left; }
.land-intro > p { width: 80% !important; }

.land-h1-2 {
  text-align: right;
  margin: 3vh 0;
  margin-left: 20%;
  color: rgb(170, 165, 165);
}

.about-container {
  height: 90%;
  margin-top: 0 !important ;
}

@media screen and (max-width: 800px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: auto;
    margin-top: auto !important ;
    
    .profile-container {
      order: 0;
      margin-bottom: 3vh;
    }
    .land-intro {
      order: 1;
      width: 60%;
    }
  }
  
  .land-intro > p { width: 100% !important; }
  .land-intro * { text-align: center; }
  .land-h1-2 { margin: 1.5vh 0; }
  .landing-overlay img { width: 100%; }
  .landing-overlay { width: 50vh; }
}

@media screen and (max-width: 600px) {
  .land-h1-2 { margin: 1.5vh 0; }
}

@media screen and (max-width: 400px) {
  .land-h1-2 { margin: 1.5vh 0; }
}

.about-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.profile-container {
  margin: auto;
  width: 30%;
}

.avatar-div {
  position: relative;
  border: 2px solid #52cdfe;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%;
  background-image: url('./images/portfolio-portrait.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 220, 250, 0.1);
    display: none;
  }
}
.avatar-div:hover .avatar-overlay {
  display: initial;
  z-index: 15;
}

// ---------
// EXPERIENCE PAGE
// --------- 

#experience {
  height: 80vh !important;
  padding-top: 10vh;
}
#experience > p {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.experience-container {
  display: flex;
  justify-content: center;
  margin: 2vh auto 5vh auto;
  height: 60vh !important;
} 
.experience-container h1 {
  text-align: left;
  margin-bottom: 1vh;
}

.experience-container h2 {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.positions-container {
  margin-right: 2rem;
  padding-top: 1.5rem;
  width: 30%;
    svg,
    path {
      width: clamp(.9rem, 1.4vw, 1.4rem);
      height: clamp(1rem, 1.5vw, 1.5rem);
    }
}

.positions-container nav {
  margin-bottom: 3rem;
}

.prev-icon, .eng-icon {
  margin-right: 1rem;
  margin-left: 1rem;

}

.experience-container p,li {
  margin: 1rem;
  text-align: left;
  color: rgb(170, 165, 165);
  padding: .2vh 0 .2vh 0.4vh;
}
.experience-container li { margin: .5rem; }

.experience-container .positions-container nav p:hover {
  color: #52cdfe !important;
}

.exp-cards-container {
  width: 75% !important;
  border-radius: .7vh;
  background-color: rgba(143, 221, 252, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  overflow-y: scroll;
}

.experience-card-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  overflow: auto !important;
  height: 100%;
}

.experience-card-wrapper ul li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 1.65em;
  align-items: start;
  line-height: 1.35;
  color: rgb(223, 219, 219);
}

.experience-card-wrapper ul li:before { 
  width: 1vw;
  height: 1vw;
  content: url(https://i.imgur.com/wrZRb2V.png?1); 
}
.experience-card-wrapper h1 { margin-bottom: 1vh; }
.experience-card-wrapper p {
  margin-bottom: 1.5vh;
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  #experience > h1 {
    margin: 0 auto;
  }
  .experience-container {
    width: 90%;
    padding: 1vh;
  } 
  .experience-container p,li {
    margin: .1vh;
  }

  .experience-card-wrapper ul li {
    gap: 1.1em;
    align-items: start;
    line-height: 1.25;
    color: rgb(170, 165, 165);
  }
}

@media screen and (max-width: 450px) {
  .experience-container p,li { margin: .1vh; }

  .experience-card-wrapper ul li {
    gap: 1.3em;
    align-items: start;
    color: rgb(170, 165, 165);
  }
}


// ---------
// PROJECTS PAGE
// --------- 
#projects {
  padding-bottom: 20vh;
}

#projects h1 {
  margin-top: -5vh;
}

#projects > h2 {
  color: #52cdfe;
  text-align: left;
  width: 100%;
  margin-bottom: .5em;
}

#projects > p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#projects > div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.project-card {
  background-color: rgb(207, 196, 130, 0.3);
  border-radius: .7vh;
  width: 20%;
  height: auto;
  margin: 1em 3em;
  padding: .3em;
}

.project-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.project-wrapper img {
  position: sticky;
  height: 100%;
  width: 100%;
  border-radius: .7vh;
  inset: 0;
  top: 0;
  left: 0;
}

.project-wrapper > a {
  height: 100%;
  width: 100%;
  border-radius: .7vh;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: .7vh;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.project-details:hover {
  opacity: 1;
  background-color: rgba(6, 220, 250, 0.3);
}

@media screen and (max-width: 800px) {
  #projects > div {
    display: grid;
    grid-template-columns: 40vw 40vw !important;
    grid-gap: auto;
  }
  .project-card { width: 50%; }
  #projects>h2 {width: 80%}
}

@media screen and (max-width: 600px) {
  .project-card { width: 60%; }
}
  
// ---------
// SKILLS PAGE
// --------- 
#skills { padding-bottom: 5vh; }
#skills > h2 {
  color: rgba(143, 221, 252, 0.8);
  width: 85%;
  height: auto;
  text-align: left;
  margin-bottom: .5rem;
}

#skills > .first-h2 {
  margin-top: -3rem;
}

.skills-container {
  display: flex;
  align-items: center; 
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(143, 221, 252, 0.1);
  border-radius: .3rem;
  overflow-x: scroll;
}

.skill-box {
  width: clamp(3rem, 5vw, 4.3rem) !important;
  height: clamp(3rem, 5vw, 4.3rem) !important;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg, path {
    margin-bottom: .2rem;
    width: clamp(2.8rem, 4.5vw, 4.2rem) !important;
  }
}

/* Contact Modal styles */
.emailOverlayWrapper {
  background: rgb(20, 20, 53) !important;
  border-radius: 10px;
  p { color: white; margin-bottom: 4vh; }
}

.emailOverlayWrapper > div[role=button] {
  display: none !important;
}

.emailOverlayContent {
  padding: 5vh 3vw 3vh 3vw;
  position: relative;
  margin: auto;
  transition: opacity 0.85s;

  .overlay-close {
    top: -15px;
    right: -10px;
    position: absolute;
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1vh;
    }
}

#contact {
  input, textarea {
    font-family: 'Open Sans', sans-serif;
    display: block;
    height: 40px;
    width: 100%;
    margin: 20px auto;
    border: 0 !important;
    text-align: left;
    outline-style: none !important;
    padding-top: 10px;
    color: rgb(20, 20, 53) !important;
    background-color: whitesmoke !important;

    &::placeholder {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: .5s;
      transition: .5s;
    }

    &:hover,
    &:focus,
    &:active:focus {
      color: rgb(20, 20, 53) !important;;
      outline: none;
      &::placeholder {
        color: #52cdfe;
        position: relative;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
    }
  }
}

#sendEmailButton {
  width: 40%;
  margin: auto;
  margin-right: 0 !important;
  padding: 1vh;
  color: #52cdfe;
  border-radius: .5vh;
  background: transparent;
  border-style: solid;
  font-weight: bold;
}
#sendEmailButton:hover { background-color: rgba(6, 220, 250, 0.1) !important; }

#name, #message, #email {
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
  color: #858585;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 500 !important;
}

#message {
  height: 150px !important;
}


// landing-overlay
.landing-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(7,8,60);
  background: rgb(20,20,53);
  background: -moz-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141435",endColorstr="#07083c",GradientType=1);
}

/* bottom Nav styles */
.bottom-nav-container {
  position: sticky;
  background: rgb(7,8,60);
  background: -moz-linear-gradient(0deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: linear-gradient(0deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07083c",endColorstr="#141435",GradientType=1);
  width: 100%;
  z-index: 20;
  bottom: 0;
}

.bottom-nav-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  margin: .5vh auto;
  justify-content: center;
  align-items: center;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.bottom-nav a {
  display: table;
  margin: .5vh 2vh;
  width: 4vh;
  height: 4vh;
}

.bottom-nav a * {
  display:table-cell;
  text-align: center;
  width: 100%;
  height: 85%;
  color: #52cdfe;
}

.bottom-nav a *:hover {
  height: 100%;
}

/* project page styles */
.overlay-wrapper {
  top: var(--top, $top);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: auto;
  display: flex;
  transition: opacity $duration;
  z-index: 999;
  
  .backdrop {
    top: var(--top, $top);
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: auto;
    display: flex;
    background-color: rgba(143, 221, 252, 0.1);
    padding: 1.5vh 0;
  }

  .overlay-content {
    background: rgb(20, 20, 53);
    padding: 10vh 3vw 4vh 3vw;
    position: relative;
    margin: auto;
    transition: opacity 0.85s;
    border-radius: 10px;
    height: fit-content;

    &.with-outline:focus {
      outline: 2px solid #0366d6;
      outline-offset: 2px;
    }

    .overlay-close {
      top: 0;
      right: 0;
      position: absolute;
      cursor: pointer;
      width: 4vh;
      height: 4vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      margin: 1vh;
    }
  }
  &.overlay-open { opacity: 1; }
  &.overlay-opening { animation: fadeIn $duration; }
  &.overlay-closed,
  &.overlay-hidden {
      display: none;
      opacity: 0;
  }
  &.overlay-closing { opacity: 0; }
}
.overlay-content {
  max-width: 60vw;
}

@media screen and (max-width: 800px) {
  .overlay-content { max-width: 90vw;}
}
.scroll-lock { overflow: hidden; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% {  opacity: 1; }
  100% { opacity: 0; }
}
.description {
  width: 85%;
  margin: 0 auto;
}
.technologies {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.details-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links-cont {
  margin-top: 5vh;
}
.links-cont a {
  margin: 2vh 1vh;
  color: #85DCFE;
  font-family: 'Roboto Slab', serif;
  padding: .6vh .7vh;
  border-radius: .5vh;
  border: 1px solid #85DCFE; 
}
.links-cont a:hover {
  color: #52cdfe;
  box-shadow: 0 0 .5vh #85DCFE;
  background-color: rgba(6, 220, 250, 0.4);
}

// font guidelines
#main * {
  font-size: clamp(.7rem, 1vw, 1.4rem) !important;
  
  h2, .land-h1-1 { font-size: clamp(.8rem, 1.3vw, 1.5rem) !important; }
  h1, .land-h1-2 > span{ font-size: clamp(.9rem, 1.4vw, 1.6rem) !important; }
}
.top-right-nav > a { font-size: clamp(.9rem, 1.5vw, 1.6rem) !important }

// container sizing
.profile-container { width: clamp(175px, 35%, 300px) !important; }

.contact-modal {
  width: clamp(200px, 40vw, 1000px) !important;
  height: clamp(250px, 50vw, 600px) !important;
}

