$duration: 0.5s;
$top: 0;

html {
  background: rgb(20, 20, 53) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar { display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  // overflow-y: hidden !important;
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  // overflow: hidden !important;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden !important;

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(350px, 80%, 1500px);
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden !important;
    margin-top: 5vh;
  }
}

@media screen and (max-width: 650px) {
  .App .page {
    width: clamp(350px, 90%, 1500px);
  }
}

@media screen and (max-width: 400px) {
  .App .page {
    width: clamp(350px, 95%, 1500px);
  }
}

a { text-decoration: none; }
.teal { color: #52cdfe; }
.top-right-nav > a { font-size: clamp(1rem, 1.5vw, 1.5rem) !important }


// ---------
// MAIN PAGE BASE FONT STYLES
// --------- 

#main {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(170, 165, 165);
  overflow: hidden !important;

  * {
    font-size: clamp(.8rem, 1vw, 1.1rem) !important;
    
    h1 { 
      font-size: clamp(1rem, 1.3vw, 1.4rem) !important; 
      font-family: 'Roboto Slab', serif;
      color: #52cdfe;
    }
  
    h2 { 
      font-size: clamp(.9rem, 1.2vw, 1.4rem) !important; 
      font-family: 'Roboto Slab', serif;
      color: #52cdfe;
    }
    
    .landing-greeting, .landing-greeting span { font-size: clamp(1.1rem, 1.8vw, 1.7rem) !important; }
    .landing-brand, .landing-brand span { font-size: clamp(1rem, 1.3vw, 1.4rem) !important; }
    .landing-blurb { font-size: clamp(.9rem, 1.1vw, 1.2rem) !important; }
  }
  
  > div {
    height: 100%;
  
    > h1 {
      width: 100%;
      margin: 0 auto;
    }
  }
}


// ---------
// TOPNAV
// --------- 

.top-nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgb(7,8,60);
  background: -moz-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  background: linear-gradient(180deg, rgba(7,8,60,1) 0%, rgba(20,20,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07083c",endColorstr="#141435",GradientType=1);
}

.top-nav-wrap {
  display: flex;
  justify-content: space-between;
  width: clamp(350px, 80%, 1500px);
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-bottom: 1.5vh;
  
  .top-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15vw;
      margin: .6vh 0;
      margin-right: 2vw;
    }
  }
  
  .no-display-left {
    display: none;
  }
  
  .top-right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
    * {
      margin: 0 .3vw;
      color: rgb(170, 165, 165);
      padding: .8vmin 1vmin;
      border-radius: 4px;
    }

    .active {
      border-radius: 0;
      border-bottom: 2px solid rgba(6, 220, 250, .5);
      color:  rgba(6, 220, 250, .7);
    }
    
    a:hover {
      color: rgba(6, 220, 250, .7);
    }
  }
  
  @media screen and (max-width: 650px) {
    .top-left-nav { 
      display: none; 
    }
    
    .top-right-nav .no-display {
      display: none;
    }
  }
  
  @media screen and (max-width: 450px) {
    .top-right-nav * {
      margin: 0 .2rem;
      padding: .7vmax .9vmax;
    }
  }
  

  .top-right-nav .resume-link{ 
    border: 1.5px solid rgba(6, 220, 250, 0.5);
    color: rgba(6, 220, 250, 0.7);
    margin-left: .5rem;
  }
  
  .top-right-nav .resume-link:hover { 
    background-color: rgba(6, 220, 250, 0.1) !important;
    color: rgba(6, 220, 250);
  }
}


// ---------
// LEFT SIDENAV
// --------- 

.side-nav {
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  display: flex;
  flex-direction: column;
  width: 6%;

  a, .a-tag {
    display: table;
    margin: 2vh auto;
    width: clamp(1.5rem, 4vw, 2.5rem);
    height: clamp(1.5rem, 4vw, 2.5rem);
  }

  a *,
  .a-tag * {
      text-align: center;
      vertical-align: middle;
      width: 90%;
      height: 90%;
      color: rgb(170, 165, 165);
    }

  a:hover *,
  .a-tag:hover * {
    height: 100%;
    width: 100%;
    color: rgba(143, 221, 252, .9);
  }
}

@media screen and (min-width: 651px) {
  .top-left-side-nav {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .top-nav {
    padding-top: .5rem;
  }

  .side-nav {
    display: none;
  }

  .top-nav .top-nav-wrap .top-left-side-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    a,
    .a-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      margin-left: .5rem;
    }
    
    a *,
    .a-tag * {
      width: auto;
      color: rgb(170, 165, 165);
    }

    a:hover *{
      color: rgba(143, 221, 252, .9);

    }
  }
}


// ---------
// PROFILE MENU
// --------- 

.login-icon {
  display: none !important;
  display: none !important;
  height: 3rem !important;
  width: 3rem !important;
  padding: 2px;
  border: 1px solid rgba(170, 165, 165, .3);
  border-radius: 4px;
  
  svg, path {
    height: 3rem !important;
    width: 3rem !important;
    fill: rgb(170, 165, 165);
  }
}


#account-menu>.MuiPopover-paper,
#account-menu .MuiMenu-list {
  background-color: rgb(175, 175, 175);
  border-radius: 4px;
}

#account-menu .MuiMenu-list>li>a {
  color: rgb(7, 8, 60);
}

#account-menu .MuiMenu-list>li:hover {
  background-color: rgba(6, 220, 250, 0.3);
}

@media screen and (max-width: 650px) {
  .top-nav-wrap .login-icon {
    display: initial !important;
  }
  
  .top-nav-wrap .login-icon:hover {
    border-color: rgba(170, 165, 165, .6);
  }
}


// ---------
// LANDING PAGE
// --------- 

.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: clamp(200px, 32%, 310px) !important;
}

.land-intro {
  margin-left: clamp(1.5rem, 3vw, 3rem);
  color: rgb(170, 165, 165);
  
  * { 
    text-align: left; 
  }
  
  .landing-greeting {
    font-weight: 600;
  }
  
  .landing-brand {
    font-family: Roboto Slab, serif;
    font-weight: 500;
    text-align: left;
    margin: 3vh 0;
    color: rgb(170, 165, 165);
  }
}

@media screen and (max-width: 1100px) {
  .land-intro {
    width: 65%;
  }

  .landing-blurb br {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh !important;
    
    .profile-container {
      order: 0;
      margin-bottom: 3vh;
      width: 90%;
      
    }
    .land-intro {
      order: 1;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      
      * {
        text-align: center;
        width: 100%;
      }
    }
  }
  
  .land-intro > .landing-blurb { 
    width: 85% !important; 
    margin-left: auto;
    margin-right: auto;
  }
  .landing-brand { margin: 2vh 0; }
  .landing-overlay img { width: 100%; }
  .landing-overlay { width: 50vh; }
}

.avatar-div {
  position: relative;
  border: 2px solid #52cdfe;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%;
  background-image: url('./images/portfolio-portrait.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 220, 250, 0.1);
    display: none;
  }
}
.avatar-div:hover .avatar-overlay {
  display: initial;
  z-index: 15;
}


// ---------
// PROJECTS PAGE
// --------- 
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  > h2 {
    color: #52cdfe;
    text-align: left;
    width: 90%;
    margin-bottom: .5em;
  }
  
  > p {
    margin-left: auto;
    margin-right: auto;
  }
}

// PROJECT CARD AND CONTAINER
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 35px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10vh 3rem ;
  padding-top: 3vh;

  .project-card {
    width: 300px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(143, 221, 252, .1);
    opacity: .7;
    
    .project-img-wrapper {
      width: 100%;
      height: 175px;
      border: 3px solid rgba(170, 165, 165, .3);
      border-radius: 5px;
  
      img {
        height: 100%;
        width: 100%;
        border-radius: 2px;
      }
    }
  
    .project-details {
      position: relative;
      width: 100%;
      height: auto;
      padding: 5px 10px;
  
      #project-card-title {
        font-size: clamp(1.1rem, 1.4vw, 1.3rem) !important;
        font-weight: 600;
        text-align: left;
        color: white;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      
      .tech-container {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        
        .tech-item {
          width: 18px !important;
          height: 18px !important;
          margin-right: 10px;
        }
      }
      
      .project-card-buttons {
        width: fit-content;
        margin: auto 0 0 auto;
        
        a {
          padding: 4px 8px;
          margin-left: 10px;
          font-weight: 500;
          color: rgba(6, 220, 250, 0.7);
          border: 1.5px solid rgba(6, 220, 250, 0.5);
          border-radius: 5px;
        }
        
        a:hover {
          background-color: rgba(6, 220, 250, 0.1);
          color: rgba(6, 220, 250);
        }
      }

      #project-card-description {
        display: -webkit-box;
        text-align: left;
        overflow: hidden;
        width: 100%;
        font-size: .9rem !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 1.5rem;
        
        .inner {
          text-align: left;
          
          .project-card-buttons {
            display: none;
          }
        }
      }
      
      #project-card-description:hover {
        position: absolute;
        display: block;
        margin-bottom: 0;
        width: 300px;
        margin-left: -20px;
        overflow-y: hidden;
        background-color: rgb(20, 20, 53);
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        z-index: 500;
        box-shadow: 0px 1px 2px -1px rgba(143, 221, 252, 0.7) !important;
        
        .inner {
          width: 100%;
          z-index: 500;
          border-bottom-left-radius: 5px !important;
          border-bottom-right-radius: 5px !important;
          background-color: rgba(143, 221, 252, .1);
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 15px;
          
          .project-card-buttons {
            z-index: 500;
            display: flex;
            margin-top: 10px;
          }
        }
        
        ~ .project-card-buttons {
          display: none;
        }
      }
      
    }

  }
  
  .project-card:hover {
    opacity: 1;
  }
}



// ---------
// EXPERIENCE PAGE
// --------- 

.exp-header {
  margin-bottom: 1vh;
}

#experience > p {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.experience-container {
  display: flex;
  justify-content: center;
  margin: 2vh auto 5vh auto;
  height: 65vh !important;
  overflow-y: hidden !important;

} 
.experience-container h1 {
  text-align: left;
  margin-bottom: 1vh;
}

.experience-container h2 {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.positions-container {
  margin-right: 2rem;
  padding-top: 1rem;
  width: 20%;
    svg,
    path {
      width: clamp(.9rem, 1.4vw, 1.4rem);
      height: clamp(1rem, 1.5vw, 1.5rem);
    }
}

.positions-container nav {
  margin-bottom: 3rem;
}

.prev-icon, .eng-icon {
  margin-right: 1rem;
  margin-left: 1rem;

}

.experience-container p,li {
  margin: 1rem;
  text-align: left;
  color: rgb(170, 165, 165);
  padding: .2vh 0 .2vh 0.4vh;
}
.experience-container li { margin: .5rem; }

.experience-container .positions-container nav p:hover {
  color: #52cdfe !important;
}

.exp-cards-container {
  width: 65% !important;
  border-radius: .7vh;
  background-color: rgba(143, 221, 252, 0.1);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {

  .positions-container {
    width: 20%;
  }

  .exp-cards-container {
    width: 75% !important;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-right: .6rem;
    padding-left: .6rem;
  }
}

.experience-card-wrapper {

  > p {
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    overflow: auto !important;
    height: 100%;

    li {
      display: grid;
      grid-template-columns: 0 1fr;
      gap: 1.65em;
      align-items: start;
      line-height: 1.35;
    }
  }
}

.experience-card-wrapper ul li:before { 
  width: 1vw;
  height: 1vw;
  content: url(https://i.imgur.com/wrZRb2V.png?1); 
}
.experience-card-wrapper h1 { margin-bottom: 1vh; }
.experience-card-wrapper p {
  margin-bottom: 1.5vh;
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  #experience > h1 {
    margin: 0 auto;
  }
  .experience-container {
    width: 95%;
    padding: 1vh;
  } 
  .experience-container p,li {
    margin: .1vh;
  }

  .experience-card-wrapper ul li {
    gap: 1rem;
    align-items: start;
    line-height: 1.25;
  }
}

@media screen and (max-width: 450px) {
  .experience-container p,li { margin: .1vh; }
  
  .experience-card-wrapper ul li {
    gap: 1.3em;
    align-items: start;
    color: rgb(170, 165, 165);
  }
}


// ---------
// SKILLS PAGE
// --------- 

#skills { 
  height: 100%;

  > h2 {
    color: rgba(143, 221, 252, 0.8);
    width: 85%;
    text-align: left;
    margin-bottom: .5rem;
  }
  
  .first-h2 {
    margin-top: -3rem;
  }

  .skills-container {
    display: flex;
    align-items: center; 
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(143, 221, 252, 0.1);
    border-radius: .3rem;
    overflow-x: scroll;
    margin-bottom: 1rem;

    .skill-box {
      width: clamp(2.7rem, 5vw, 3.5rem) !important;
      height: clamp(2.7rem, 5vw, 3.5rem) !important;
      margin: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      svg, path {
        margin-bottom: .2rem;
        width: clamp(2.5rem, 4.5vw, 3.5rem) !important;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  #skills > h2,
  .skills-container { width: 90%; }
}

@media screen and (max-width: 650px) {
  #skills {
    padding-top: 5vh;
    
    > h2 { width: 95%; }
    
    .skills-container {
      width: 95%;
      margin-bottom: 1.5rem;
      
      .skill-box { margin: 1rem .8rem;}
    }
  }
}


/// ---------
// LANDING OVERLAY
// --------- 
.landing-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(7,8,60);
  background: rgb(20,20,53);
  background: -moz-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  background: radial-gradient(circle, rgba(20,20,53,1) 0%, rgba(7,8,60,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141435",endColorstr="#07083c",GradientType=1);
}

@media screen and (max-width: 800px) {
  .overlay-content { max-width: 90vw;}
}

.scroll-lock { overflow: hidden; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% {  opacity: 1; }
  100% { opacity: 0; }
}