  .login-icon {
    height: 2rem !important;
    width: auto;
    fill: rgb(170, 165, 165);
  }

  #account-menu>.MuiPopover-paper,
  #account-menu .MuiMenu-list {
    background-color: rgb(175, 175, 175, );
    border-radius: 4px;
  }

  #account-menu .MuiMenu-list>li>a {
    color: rgb(7, 8, 60);
  }

  #account-menu .MuiMenu-list>li:hover {
    background-color: rgba(6, 220, 250, 0.3);
  }

  @media screen and (min-width: 651px) {
    .login-icon {
      display: none;
    }
  }
